.nameInput{
  /*width: 75%;*/
  height: 200px;
}
.loginInput{
  width: 38%;
  display: inline-block;
}
.header{
  height: 50px;
  width: auto;
  /*background-color: blue;*/
}
.title{
  font-size: 39px;
  display: inline-block;
  margin-right: 50px;
}
/*.header, a{
  font-size: 19px;
  vertical-align: top;
  margin-top: 10px
}*/
.logoutButton{
  font-size: 29px;
  margin-top: 40px;
  /*padding-top: 50px;*/
}
.linkContainer{
  height: 70px;
  width: 190px;
  display: inline-block;
  text-align: center;
}
.mainDashContent{
  margin-top: 25px;
}
.logoutLink{
  margin-top: 15px;
}
.questionLink{
  font-size: 20px;
}
.homeSearch{
  width: 30%;
  margin-top: 50px;
}
.questionInput{
  width: 40%;
}
textarea{
  resize: none;
}
