<a href='#/home'>Home</a> | <a href="#/answer/{{displayQuestion._id}}">Answer this question</a> <button class='btn btn-link' ng-click='logout()'>Logout</button>
<h1>{{displayQuestion.question}}</h1>
<h5>{{displayQuestion.description}}</h5>
<div style='margin: 30px' class='answers' ng-repeat="answer in displayAnswers | orderObjectBy: 'likes':true">
  <p>{{answer.username}} says:</p>
  <b><p>{{answer.answer}}</p></b>
  <p>{{answer.description}}</p>
  <p>{{answer.likes}} likes</p>
  <button class='btn btn-primary' ng-click='like(answer)'>Like!</button>
</div>
